  .main-container {
    margin: 30px;
    position: relative;
    background: #FFFFFF;
    width: 900;
    border-color: #202020;
    border-style: none;
    border-width: 1px;
    text-align: left;
  }